td{
	padding: 20px 40px 60px 80px;
	background: yellow url() 0 0 no-repeat;
	border: solid  red 20px;
	border-width: 20px 50px;
	border-color: #008079;
	margin: 10px 20px 30px 40px;
}
.div	width; 20px;