body{
	margin: 0;
	padding: 0;		
}
.head{
	height: 50px;	
	background-color: #000000	;
}
.nav{
	height: 50px;	
	width: 75%;	
	margin: 0 auto;
	background-color: #0000FF	;
}
.body{
	width:75%;
	margin: 0 auto;
}
.slider{
	width: 75%;
	height: 300px;	
	margin: 0 auto;
	background-color: #FFFF00	;
}

.content{
	width:75%;
	height: 1200px;	
	background-color: #FF00FF	;
	margin: 20px auto 20px auto;
}
.footer{
	
}
.footer-content{
	width:75%;
	height: 300px;	
	margin: 0 auto;
	background-color: #00FF00	;

}
.footer-nav{
	width:75%;
	height: 50px;	
	margin: 0 auto;
	background-color: #000000	;

}